.inventory-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.inventory-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.inventory-item p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 5px 0;
}

.inventory-container {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
}
