.inventory-container {
    margin: 0 20%;
    background-color: white;
    height: auto;
    overflow: hidden;
    margin-top: 2rem;
    padding-right: 10px;
}

.title-container {
    margin: 0 20%;
    margin-top: 5rem;
    overflow: hidden;
}

h1 {
    text-align: left;
    font-size: 2rem;
}

.inventory-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 0;
}

.inventory-item p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 5px 0;
}

.filter-bar button {
    margin-top: 2rem;
    margin-right: 0.5rem;
    --button_radius: 0.75em;
    --button_color: white;
    --button_outline_color: black;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.6em 1em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    transform: translateY(-0.33em);
}

button:active .button_top {
    transform: translateY(0);
}