/* DonationForm.css */
.background {
    background-color: #e4f4fb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

form { 
   max-width: 500px;
    display: grid;
    background-color: #ffffff; 
    margin: auto;  
    margin-top: auto; 
    padding: 20px;
    justify-content: center; 
    border: 2px solid #e4e4e4;
    border-radius: 5px;
  }

.center-text {
    text-align: center;  
    margin-bottom: 10px;
}

label {
    margin-top: 5px;
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="date"],
textarea,
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
textarea {
    resize: vertical;
}
  
input[type="radio"] {
    margin-right: 5px;
}
  
.make-donation-button {
    width: 100%;
    border: none; 
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}